.tooltiptext {
  visibility: hidden;
  width: 120px;
  margin-left:-120px;
  margin-top:10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  padding: 5px 0;
  overflow:visible;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.überschrift:hover .tooltiptext {
  visibility: visible;
}