@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

* {

  margin: 0;

  padding: 0;

}



body {

  width: 100vw;

  height: 100vh;

  align-items: center;

  justify-items: center;

  font-size: 11pt;

  font-family: "Spartan";

  color: #2A293E;

}



h1 {

  text-align: center;

  margin: .67em 0;

  font-size: 2.5em;

  font-weight: 500;

  line-height: 1.1;

  margin-top: 40px;

  margin-bottom: 50px;

}





label, input, textarea {

  line-height: 25pt;

  font-family: "Spartan";

  outline: none;    

}



.Fragentyp_Select{

  font-family: "Spartan";

  min-width: 150px;

  outline: none; 

}



.überschrift{
  text-align:left;
  font-weight: bold;
  font-size:13px;
  color:white;
  background:rgba(4, 51, 78, 0.904);
  margin-bottom:0;
  line-height: 20pt;
}



form {

 /* --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;*/

  background: white;
  display: grid;
  grid-template-columns:1.5fr 0.7fr 2fr 60px 60px 60px 60px 60px;
  margin:auto;
  text-align: left;
  border: 1px solid var(--border);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1rem 1rem 1rem -0.75rem var(--border);
  position: relative;
  overflow: hidden;
  width: 90vw;
  min-width:800px;
}





.center {

  display: block;

  margin-left: auto;

  margin-right: auto;

  width: 50%;

  margin-bottom: 30px;

}



.center_button {

  background-color:white;

  display: block;

  text-align: center;

  padding-top:0.4em;

  font-size: 16pt;

  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);

  color:black; 

}



.center_select {

  background-color:white;

  display: block;

  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);

}





input, label, textarea,.Fragentyp_Select{

  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 3px;

  outline: none;

}



input:focus, textarea:focus {

  border: 1px solid #6bd4b1;

}



textarea {

  resize: none;

}



::selection {

  background: #ffc7b8;

}



input:-webkit-autofill,

input:-webkit-autofill:hover,

input:-webkit-autofill:focus,

textarea:-webkit-autofill,

textarea:-webkit-autofill:hover,

textarea:-webkit-autofill:focus {

  border: 1px solid #6bd4b1;

  -webkit-text-fill-color: #2A293E;

  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;

  transition: background-color 5000s ease-in-out 0s;

}





@media only screen and (max-width: 800px) {

  form{

    width:800px;

    font-size: 11px;

    padding:5px;

  }

  .center_button {

    font-size: 14pt;

    padding-top:0.5em;

    min-width:35px;

  }

  div.scroll{

    width:100%;

    overflow:auto;

  }

}





